{% extends "subsite.html" %}
{% load i18n %}


{# This is the page title #}
{% block title %}Calosso - HOMEPAGE{% endblock %}


{# Content of the page #}
{% block inner_markup %}
					<div class="row">
						<div class="span12">
							<div class="canvas big" onclick="window.location.href = '/gallery/{{ principale.pk }}'">
								<img alt="Principale" src="{{ MEDIA_URL }}{{ principale.articolo_principale.immagine }}" width="100%">
								<div class="slogan main">{{ homepage.slogan }}</div>
								<div class="slogan small">{{ homepage.descrizione }}</div>
								<div class="slogan prezzo">{{ homepage.occhiello }}</div>
								<div class="vedi-big"><img class="vedi-big-img" alt="Vedi la collezione" src="{{ STATIC_URL }}img/pulsanti_collezione_big.jpg"></div>
							</div>
						</div>
					</div>
					<div class="row">
						{% for galleria in gallerie %}
						<div class="span4">
							<div class="canvas small" onclick="window.location.href = '/gallery/{{ galleria.pk }}'">
								<img alt="Galleria" src="{{ MEDIA_URL }}{{ galleria.articolo_principale.miniatura }}">
								<div class="testo-sezione">
									<div class="slogan-sezione">{{ galleria.slogan }}</div>
									<div class="titolo-sezione">{{ galleria.titolo }}</div>
								</div>
								<div class="vedi-small"><img class="vedi-small-img" alt="Vedi la collezione" src="{{ STATIC_URL }}img/pulsanti_collezione.jpg"></div>
							</div>
						</div>
						{% endfor %}						
					</div>
{% endblock %}
{# end of content #}
