{% extends "site_base.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% endblock %}

{% block markup %}
		<div class="container">
			<header>
				<div class="row"><div class="span12 blue_top"></div></div>
				<div class="row">
					<div class="span1 offset11 text-right">
						<span style="margin-right: 34px;"><a href="https://www.facebook.com/pages/CALOSSO/252805684730747?fref=ts" target="_blank"><img src="{{ STATIC_URL }}img/fb.png"></a></span>
						<!-- <span style="margin-right: 34px;"><a href="#"><img src="{{ STATIC_URL }}img/yt.png"></a></span>
						<span style="margin-right: 12px;"><a href="#"><img src="{{ STATIC_URL }}img/inst.png"></a></span> -->
					</div>
				</div>
				<div class="row">
					<div class="span4 offset4"><a href="/"><img src="{{ STATIC_URL }}img/logo.png" style="margin: 0 0 8% 0;"/></a></div>
				</div>
				<div class="row">
					<div class="span12">
						<ul class="nav nav-pills" style="display: inline-block;">
							<li {% ifequal sezione "chi_siamo" %}class="active"{% endifequal %}><a href="/chi_siamo">chi siamo</a></li>
							<li {% ifequal sezione "contatti" %}class="active"{% endifequal %}><a href="/contatti">contatti</a></li>
							{% for voce in voci_menu %}
							<li {% ifequal sezione voce.menu %}class="active"{% endifequal %}><a href="/gallery/{{ voce.pk }}">{{ voce.menu }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</header>
			<div class="content">
					{% block inner_markup %}
					{% endblock %}
			</div>
			<!-- <footer>
				© 2013 [azienda] - TEL. +39 0123 456789 - P.IVA 0123456789 - Via Tal De Tali, 1 - 12345 [città] (prov) - [email]
			</footer> -->
		</div> <!-- /container -->
{% endblock %}
