@CHARSET "UTF-8";

body {
	/* padding-top: 40px; */
	/* padding-bottom: 20px; */
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-size: 12px;
}

header {
	background-color: white;
	color: #333;
	text-align: center;
	font-size: 14px;
	line-height: 42px;
}

footer {
	background-color: #21325E;
	color: #DDD;
	text-align: center;
	font-size: 10px;
	line-height: 24px;
}

.content {
	/* margin-top: 10px; */
	/* margin-bottom: 10px; */
}

.title {
	margin-top: 2%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.blue_top {
	background-color: #21325E;
	height: 16px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	font-family: 'Wire One', sans-serif;
	font-size: 28px;
}
.nav-tabs>li>a, .nav-pills>li>a {
	margin-right: 16px;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	/* background-color: #21325E; */
	background-color: #fff;
	color: #777;
}
.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #fff;
	color: #777;
}
a {
	color: #21325E;
}

.canvas {
	border: 15px white solid;
	box-shadow: 0px 0px 50px 10px rgba(213, 213, 213, .6);
	margin-bottom: 20px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.canvas.big {
	/* height: 506px; */
}
.canvas.small {
	/* height: 321px; */
}

.slogan {
	position: absolute;
	right: 2%;
	color: white;
	text-align: right;
	white-space: pre;
}
.slogan.main {
	top: 44%;
	font-size: 46px;
	line-height: 46px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow: 0 0 0.2em #333, 0 0 0.2em #333, 0 0 0.2em #333
}
.slogan.small {
	top: 75%;
	font-size: 14px;
	line-height: 14px;
	text-shadow: 0 0 3.4em #333, 0 0 5.4em #333
}
.slogan.prezzo {
	top: 83%;
	color: #21325E;
	font-size: 20px;
	text-shadow: 0 0 0.2em #ddd, 0 0 0.2em #ddd
}
.testo-sezione {
	position: absolute;
	left: 0; right: 0; /* CENTRATO */
	top: 10%;
	text-align: center;
}
.slogan-sezione {
	color: white;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	/* font-family: Georgia, "Times New Roman", Times, serif; */
	text-shadow: 0 0 0.2em #333, 0 0 0.2em #333
}
.titolo-sezione {
	color: white;
	font-size: 30px;
	line-height: 34px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow: 0 0 0.2em #333, 0 0 0.2em #333, 0 0 0.2em #333
}

.vedi-big {
	position: absolute;
	left: 0; right: 0; /* CENTRATO */
	bottom: 6%;
}
.vedi-small {
	position: absolute;
	left: 0; right: 0; /* CENTRATO */
	bottom: 4%;
}

.gallery {
	background: rgba(225, 225, 225, .9);
	position: absolute;
	width: 100%;
	height: 90px;
	bottom: 0;
	display: table;
}
.gallery-titolo {
	font-family: 'Wire One', sans-serif;
	font-size: 34px;;
	color: #777;
	text-align: left;
	padding-left: 14px;
	display: table-cell;
	vertical-align: middle;
}
.gallery-descrizione {
	padding-right: 14px;
	/* letter-spacing: 1px; */
	display: table-cell;
	vertical-align: middle;
	font-family: 'Wire One', sans-serif;
	font-size: 21px;
	line-height:21px;
	color: #777;
	text-align: right;
	white-space: pre;
}
.carousel {
	box-shadow: 0px 0px 50px 10px rgba(213, 213, 213, .6);
}
.item {
	margin-bottom: 0;
}
.carousel-control {
	margin-left: -26px;
	margin-right: -26px;
	background-color: #21325E;
	/* font-family: 'Wire One', sans-serif; */
	/* font-size: 66px; */
	opacity: 1;
	border: none;
}

.chi_siamo {
	font-family: 'Wire One', sans-serif;
	font-size: 36px;
	line-height: 42px;
	color: #777;
	text-align: justify;
	margin-top: 20px;
}

/* Large desktop */
@media (min-width: 1200px) {
	.chi_siamo { font-size: 40px; line-height: 48px; }
	.slogan.main { font-size: 50px; line-height: 50px; }
	.slogan-sezione { font-size: 20px; line-height: 20px; }
	.titolo-sezione { font-size: 40px; line-height: 44px; }
	.gallery-titolo { padding-left: 20px; font-size: 38px; }
	.gallery-descrizione { padding-right: 20px; font-size: 24px; line-height: 24px; }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.nav { font-size: 24px; }
	.nav-tabs>li>a, .nav-pills>li>a { margin-right: 12px; }
	.chi_siamo { font-size: 32px; line-height: 38px; }
	.slogan.main {top: 25%;  font-size: 40px; }
	.slogan.small { top: 67%; font-size: 12px; }
	.slogan.prezzo { top: 78%; font-size: 18px; }
	.vedi-big-img {	width: 160px; }
	.slogan-sezione { font-size: 12px; line-height: 12px; }
	.titolo-sezione { font-size: 22px; line-height: 26px; }
	.vedi-small-img { width: 110px; }
	.gallery-titolo { padding-left: 10px; font-size: 24px; }
	.gallery-descrizione { padding-right: 10px; font-size: 17px; line-height: 17px; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.nav { font-size: 22px; }
	.nav-tabs>li>a, .nav-pills>li>a { margin-right: 8px; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}
